= simple_form_for @book, html: {class: 'form-horizontal'} do |f|
  = f.input :title, :input_html => { :class => "span4" }
  = f.input :author, :input_html => { :class => "span4" }
  = f.input :description, :input_html => { :class => "span4" }
  = f.label :upload_pdf
  .fileupload.fileupload-new{"data-provides" => "fileupload"}
    .input-append
      .uneditable-input.span3
        %i.icon-file.fileupload-exists
        %span.fileupload-preview
      %span.btn.btn-file
        %span.fileupload-new Select file
        %span.fileupload-exists Change
        %input{:type => "file", :id => "book_pdf", :name => "book[pdf]"}/
      %a.btn.fileupload-exists{"data-dismiss" => "fileupload", :href => "#"} Remove
  = f.input :tag_names, :input_html => { :class => "span4"}, :label => "Tags", :hint => "Separated by commas"
  
  = f.submit :class => "btn btn-primary"