%h2= @book.title
%p.author= "by #{@book.author}"
.well
  %p
    = simple_format @book.description
%p
  - if can? :download, @book
    = button_to download_path(@book), class: "whitetxt btn btn-primary btn-large", :method => :post do
      %i.icon-download-alt.whitetxt
      Download

.well
  %div
    Tags: 
    = tag_links(@book)
- if can? :manage, @book
  .btn-group
    = link_to "Edit", edit_book_path(@book), class: "blacktxt btn"
    = link_to "Delete", book_path(@book), method: :delete, confirm: "Are you sure? This book will be deleted forever (a long time).", class: "whitetxt btn btn-danger"